In [1]:
# Import libraries

import psycopg2
from sqlalchemy import create_engine
from urllib.parse import quote_plus
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Create database connection

password = quote_plus('XXXX@XXXXX')

conn = create_engine(
    f'postgresql+psycopg2://postgres:{password}@localhost:5432/olist_db'
)

In [3]:
# Save query as string

query = '''
WITH delivered_orders AS (
	SELECT
		cohort_year,
		order_purchase_timestamp,
		is_reviewed
	FROM vw_order_customer
	WHERE
		is_approved = 1
		AND is_delivered = 1
),
agg AS (
	SELECT
		cohort_year,
		DATE_TRUNC('quarter', order_purchase_timestamp) AS order_quarter,
		COUNT(*) AS total_delivered_cnt,
		SUM(CASE WHEN is_reviewed = 0 THEN 1 ELSE 0 END) AS not_reviewed_cnt
	FROM delivered_orders
	GROUP BY 
		cohort_year,
		order_quarter
)

SELECT
	cohort_year,
	order_quarter,
	total_delivered_cnt,
	not_reviewed_cnt,
	ROUND((100 * not_reviewed_cnt::NUMERIC / total_delivered_cnt), 2) AS pct_vs_delivered_orders
FROM agg
ORDER BY
	cohort_year,
	order_quarter;
'''

In [4]:
# Execute SQL query and load into DataFrame
df = pd.read_sql(query, conn)

# Make sure cohort_year is treated as an integer for sorting and plotting
df['cohort_year'] = df['cohort_year'].astype('int')
# Convert order_quarter to a readable quarter label
df['quarter_label'] = df['order_quarter'].dt.to_period('Q').astype('str')

df

,cohort_year,order_quarter,total_delivered_cnt,not_reviewed_cnt,pct_vs_delivered_orders,quarter_label
0,2016,2016-07-01,1,0,0.00,2016Q3
1,2016,2016-10-01,266,3,1.13,2016Q4
2,2016,2017-01-01,1,0,0.00,2017Q1
3,2016,2017-04-01,1,0,0.00,2017Q2
4,2016,2017-07-01,2,0,0.00,2017Q3
5,2016,2017-10-01,1,0,0.00,2017Q4
6,2016,2018-01-01,2,0,0.00,2018Q1
7,2016,2018-04-01,4,0,0.00,2018Q2
8,2017,2017-01-01,4934,38,0.77,2017Q1
9,2017,2017-04-01,8983,65,0.72,2017Q2
10,2017,2017-07-01,12213,90,0.74,2017Q3
11,2017,2017-10-01,17279,135,0.78,2017Q4
12,2017,2018-01-01,335,8,2.39,2018Q1
13,2017,2018-04-01,270,3,1.11,2018Q2
14,2017,2018-07-01,135,1,0.74,2018Q3
15,2018,2018-01-01,20290,151,0.74,2018Q1
16,2018,2018-04-01,19372,94,0.49,2018Q2
17,2018,2018-07-01,12375,58,0.47,2018Q3

In [5]:
# Pivot table to show % of not-reviewed delivered orders by cohort and quarter
table = df.pivot_table(
    index='cohort_year',
    columns='quarter_label',
    values='pct_vs_delivered_orders',
    fill_value=0
)

# Hide text when there is no data (0 = no data, not 0%)
def annot_format(x):
    return "" if x == 0 else f"{x:.2f}%"

# Style the table for better readability
styled_table = (
    table.style
    # Green gradient to highlight higher percentages
    .background_gradient(
        cmap='Greens',
        vmin=0,
        vmax=3
    )
    # Apply custom text formatting
    .format(annot_format)
    # Table title
    .set_caption(
        "Share of Delivered Orders Not Reviewed by Cohort and Quarter "
        "(blank = no data)"
    )
)

styled_table